.about-3 {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 10px;
}

.card3 {
  width: 415px;
  height: 250px;
  background-color: #f8f8f8;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card3-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 30px 20px;
    gap: 10px;
    width: 100%;
}

.card3-body span{
    color: #559BCC;
    font-size: 28px;
    font-weight: bold;
    font-family: "Roboto" , system-ui, -apple-system, sans-serif;
}

.card3-title{
    color: #2D465E;
    font-size: 24px;
    font-family: "Raleway" , sans-serif;
    font-weight: 600;
}

.card3-text{
    font-size: 15px;
    font-family: "Roboto" , system-ui, -apple-system, sans-serif;
    color: rgb(169, 167, 167);
}

.card3:hover{
    background-color: #559bcc;
}

.card3:hover .card3-body span{
    color: #f1f5f9;
}

.card3:hover .card3-body .card3-title{
    color: #f1f5f9;
}

.card3:hover .card3-body .card3-text{
    color: #f1f5f9;
}

@media only screen and (max-width: 450px){
    .about-3 {
    padding: 10px;
}

.card3 {
  width: 415px;
  height: 250px;
  width: 100%;
}


}